
# Создано компанией https://www.toptal.com/developers/gitignore/api/webstorm
# Edit at https://www.toptal.com/developers/gitignore?templates=webstorm

### WebStorm ###
# Охватывает JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm и Rider
# Ссылка: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# Специфичные для пользователя вещи
.идея / * * / рабочее пространство.XML
.идея / * * / задачи.XML
.идея/* * / использование.Статистика.XML
.идея / * * / словари
.идея / * * / полка

# Сгенерированный файл
.идея/* * / contentModel.XML

# Чувствительные или высокооборотные файлы
.идея/* * /источники данных/
.идея/* * / источники данных.идентификационная карточка
.идея/* * / источники данных.Местные новости.XML
.idea/** / sqlDataSources.XML
.идея / * * / динамическая.XML
.идея/* * / uiDesigner.XML
.идея / * * /dbnavigator.XML

# Грэдл
.идея/* * /gradle.XML
.идея/* * / библиотеки

# Gradle и Maven с автоматическим импортом
# При использовании Gradle или Maven с автоматическим импортом следует исключить файлы модулей,
# так как они будут воссозданы, и могут вызвать отток. Раскомментируйте при использовании
# автоматический импорт.
# .идея / артефакты
# .идея / компилятор.XML
# .идея/jarRepositories.XML
# .идея / модули.XML
# .идея/*.iml
# .идея / модули
# *.iml
# *.ПИС

# CMake
cmake-build-*/

# Плагин Mongo Explorer
.идея / * * /mongoSettings.XML

# Файловый формат проекта
*.ИВС

# IntelliJ
из/

# mpeltonen/sbt-idea plugin
.idea_modules/

# Jira плагин
atlassian-ide-плагин.XML

# Курсивный плагин Clojure
.идея / replstate.XML

# Crashlytics plugin (для Android Studio и IntelliJ)
com_crashlytics_export_strings.XML
крашлайтикс.свойства
crashlytics-сборка.свойства
ткань.свойства

# Редактор на основе Rest-клиента
.идея / httpRequests

# Android studio 3.1 + сериализованный кэш-файл
.idea/caches / build_file_checksums.серийный

### Патч WebStorm ###
# Комментарий причина: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-215987721

# *.iml
# модули.XML
# .идея / разное.XML
# *.ПИС

# Sonarlint плагин
# https://plugins.jetbrains.com/plugin/7973-sonarlint
.идея/* * /sonarlint/

# Плагин SonarQube
# https://plugins.jetbrains.com/plugin/7238-sonarqube-community-plugin
.идея/* * / гидролокаторы.XML

# Плагин навигатора Markdown
# https://plugins.jetbrains.com/plugin/7896-markdown-navigator-enhanced
.идея / * * /markdown-навигатор.XML
.идея / * * /markdown-navigator-enh.XML
.идея / * * /markdown-навигатор/

# Ошибка создания файла кэша
# Смотри https://youtrack.jetbrains.com/issue/JBR-2257
.idea/$CACHE_FILE$

# Плагин CodeStream
# https://plugins.jetbrains.com/plugin/12206-codestream
.идея / кодовый поток.XML

# Конец https://www.toptal.com/developers/gitignore/api/webstorm
